<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/public/css/employer_details.css">
</head>
<body>
    <div class="text-center mt-5">  
        <div class="title">Hi, Tom Cruise</div>
        <p class="sub-title">Your Profile</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="Avatar">
                    <img src="/src/public/img/Avatar-largesize.jpg" class="img" alt="">
                    <div class="profile-avatar">Edit your Avatar</div>
                    <div>
                        <input type="file" id="jobseeker-avatar" name="jobseeker-avatar" accept="image/png, image/jpeg">
                    </div> <br>
                </div>
            <form class="needs-validation" novalidate></form>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">First name</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Last name</label>
                <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Valid last name is required.
                </div>
              </div>
            </div>    
            <div class="mb-3">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" placeholder="you@example.com" value="" required>
              <div class="invalid-feedback">
                Please enter a valid email address.
              </div>
            </div>
            <div class="mb-3">
              <label for="email">Phone</label>
              <input type="email" class="form-control" id="email" placeholder="you@example.com" value="" required>
              <div class="invalid-feedback">
                Please enter a valid email address.
              </div>
            </div>
            </div>
        <div class="col-6">
            <div class="Company">
                <label class="profile-avatar title">Your company</label>
            </div>
            <form class="needs-validation" novalidate>
            <div class="mb-3">
              <label for="address">Company Name</label>
              <input type="text" class="form-control" id="Companyname" placeholder="1234 Main St" required>
              <div class="invalid-feedback">
                Please enter your company name.
              </div>
            </div>

            <div class="row">
            </div>
            <div class="mb-3">
              <label for="Biography">Company Description</label>
              <input type="text" class="form-control" id="Description" placeholder="" required>
              <div class="invalid-feedback">
                Please enter your company description.
              </div>
            </div>
            <div class="mb-3">
              <label for="Biography">Company Goal</label>
              <input type="text" class="form-control" id="Goal" placeholder="" required>
              <div class="invalid-feedback">
                Please enter your address.
              </div>
            </div>
            <div class="mb-3">
              <label for="Biography">Company Adress</label>
              <input type="text" class="form-control" id="CompanyAdress" placeholder="" required>
              <div class="invalid-feedback">
                Please enter your address.
              </div>
            </div>
            <div class="mb-3">
              <label for="Biography">Company Email</label>
              <input type="text" class="form-control" id="CompanyEmail" placeholder="" required>
              <div class="invalid-feedback">
                Please enter your address.
              </div>
            </div>
            <div class="Company-logo">
                    <label class="profile-avatar">Edit your Company Logo</label>
                    <div>
                        <input type="file" id="CompanyLogo" name="Company-logo" accept="image/png, image/jpeg">
                    </div> <br>
                </div>
            </div>
            <hr class="mb-4"> 
        <div class="form-group w-30 m-auto">
            <button type="submit" class="btn btn-primary w-100">Save changes</button>
        </div>
        </div>
        <div>
        </div>
    </div> 
</body>