<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/public/css/employer_details.css">
</head>
<body>
    <div class="text-center mt-5">  
        <div class="title">Hi, Manager</div>
        <p class="sub-title">Your Profile</p>
    </div>
    <br><br>
    <form id="profile" action="/employer/loading_profile" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
      <div class="container">
      <div class="row">
            <div class="col-6">
              <div class="row">
                <div class="Avatar center">
                      <img src="/src/public/img/Avatar-largesize.jpg" class="img" alt="">
                       <p></p>           
                        <label class="center" for="employer-avatar">Select a new avatar</label>
                        <input type="file" id="employer_avatar" name="employer_avatar" accept="image/png, image/jpeg">
                    <br>
                </div>
            </div>
          
            
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">First name</label>
                <input type="text" class="form-control" name="firstName" id="firstName" placeholder="" value="{{firstName}}" required>
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <p class="text" for="lastName">Last name</p>
                <input type="text" class="form-control" name="lastName"  id="lastName" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Valid last name is required.
                </div>
              </div>
            </div>    
            <div class="mb-3">
              <p class="text" for="email">Email</p>
              <input type="email" class="form-control" name="email" id="email" placeholder="you@example.com" value="" required>
              <div class="invalid-feedback">
                Please enter a valid email address.
              </div>
            </div>
            <div class="mb-3">
              <p class="text" for="phone">Phone</p>
              <input type="email" class="form-control" name="phone" id="phone" placeholder="you@example.com" value="" required>
              <div class="invalid-feedback">
                Please enter a valid phone number.
              </div>
            </div>
            </div>
        <div class="col-6">
            <div class="Company">
                <p class="title">Your company</p>
            </div>
            <form class="needs-validation" novalidate>
            <div class="mb-3">
              <p class="text" for="address">Company Name</p>
              <input type="text" class="form-control" name="Companyname" id="Companyname" placeholder="" required>
              <div class="invalid-feedback">
                Please enter your company name.
              </div>
            </div>

            <div class="row">
            </div>
            <div class="mb-3">
              <p class="text" for="Description">Company Description</p>
              <textarea type="text" class="form-control" name="Description" id="Description" rows="3" placeholder="" required></textarea>
              <div class="invalid-feedback">
                Please enter your Company Description.
              </div>
            </div>
            <div class="mb-3">
              <p class="text" for="Goal">Company Goal</p>
              <textarea type="text" class="form-control" name="Goal" id="Goal" rows="3" placeholder="" required></textarea>
              <div class="invalid-feedback">
                Please enter your Company Goal.
              </div>
            </div>
            <div class="mb-3">
              <p class="text" for="CompanyAdress">Company Adress</p>
              <textarea type="text" class="form-control" name="CompanyAddress" id="CompanyAddress" rows="3" placeholder="" required></textarea>
              <div class="invalid-feedback">
                Please enter your Company Adress.
              </div>
            </div>
            <div class="mb-3">
              <p class="text" for="CompanyEmail">Company Email</p>
              <textarea type="text" class="form-control" name="CompanyEmail" id="CompanyEmail" rows="3" placeholder="" required></textarea>
              <div class="invalid-feedback">
                Please enter your Company Email.
              </div>
            </div>
            <div class="Company-logo">
              <p class="text">Edit your Company Logo</p>
              <div class="box center">  
                        <p class="text-center">Select or Drag and Drop here</p>
                        <p  class="text-center opacity"> <span style="color:gray">PNG, SVG file size no more than 10MB</span></p>
                        <label class="center text-center" for="CompanyLogo">Select file</label>
                        <input type="file" id="CompanyLogo" name="CompanyLogo" accept="image/png, image/jpeg" class="lg-center">
                    </div> <br>
                  </div>                    
                </div>
      </div>

      <div class="form-group w-30 m-auto">
        <button type="submit" class="btn btn-primary w-100">Save changes</button>
      </div>
      </div>
    </form>
    
  
</body>