<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/src/public/css/post_job.css">
</head>

<body>
  <form id="postform" action="/employer/posting" method="post" enctype="multipart/form-data" class="container">
    <div class="text-center mt-5">
      <div class="title">Hi, Manager</div>
      <p class="sub-title">Empower Your Recruitment: Post Jobs and Find Talent Here!</p>
    </div>
    <br><br>
    <div class="row">
      <div class="col">
        <div class="jobtitle">
          <p class="text" for="JobTitle">Job Title</p>
          <input type="text" class="form-control" name="JobTitle" id="JobTitle" placeholder="" required>
          <div class="invalid-feedback">
            Please enter the Job title.
          </div>
        </div>
       <div class="Category1">
          <p class="text" for="Category1">Category</p>
          <select type="text" class="form-control" name="Category1" id="Category1" placeholder="" value="" required>
              <option value="Design">Design</option>
              <option value="Finance/Bank">Finance/Bank</option>
              <option value="IT">IT</option>
              <option value="Doctor/Nurse">Doctor/Nurse</option>
              <option value="Human Resource">Human Resource</option>
              <option value="Sales">Sales</option>
              <option value="Marketing">Marketing</option>
              <option value="Tourism">Tourism</option>
              <option value="Broadcasting">Broadcasting</option>
              <option value="BA,DA,BI">BA, DA, BI</option>
              <option value="Logistic">Logistic</option>
              <option value="Translation">Translation</option>
              <option value="Teacher">Teacher</option>
              <option value="Lawyer">Lawyer</option>
              <option value="Accounting">Accounting</option>
              <option value="Engineer">Engineer</option>
              <option value="General Labor">General Labor</option>
              <option value="Others">Others</option>
          <div class="invalid-feedback">
            Please enter the Job title.
          </div>
          </select>
        </div>
        
       <div class="Category2">
          <p class="text" for="Category2"></p>
          <select type="text" class="form-control" name="Category2" id="Category2" placeholder="" value="" required>
              <option value="Design">Design</option>
              <option value="Finance/Bank">Finance/Bank</option>
              <option value="IT">IT</option>
              <option value="Doctor/Nurse">Doctor/Nurse</option>
              <option value="Human Resource">Human Resource</option>
              <option value="Sales">Sales</option>
              <option value="Marketing">Marketing</option>
              <option value="Tourism">Tourism</option>
              <option value="Broadcasting">Broadcasting</option>
              <option value="BA,DA,BI">BA, DA, BI</option>
              <option value="Logistic">Logistic</option>
              <option value="Translation">Translation</option>
              <option value="Teacher">Teacher</option>
              <option value="Lawyer">Lawyer</option>
              <option value="Accounting">Accounting</option>
              <option value="Engineer">Engineer</option>
              <option value="General Labor">General Labor</option>
              <option value="Others">Others</option>
          <div class="invalid-feedback">
            Please enter the Job title.
          </div>
          </select>
        </div>
        
       <div class="Category23">
          <p class="text" for="Category3"></p>
          <select type="text" class="form-control" name="Category3" id="Category3" placeholder="" value="" required>
              <option value="Design">Design</option>
              <option value="Finance/Bank">Finance/Bank</option>
              <option value="IT">IT</option>
              <option value="Doctor/Nurse">Doctor/Nurse</option>
              <option value="Human Resource">Human Resource</option>
              <option value="Sales">Sales</option>
              <option value="Marketing">Marketing</option>
              <option value="Tourism">Tourism</option>
              <option value="Broadcasting">Broadcasting</option>
              <option value="BA,DA,BI">BA, DA, BI</option>
              <option value="Logistic">Logistic</option>
              <option value="Translation">Translation</option>
              <option value="Teacher">Teacher</option>
              <option value="Lawyer">Lawyer</option>
              <option value="Accounting">Accounting</option>
              <option value="Engineer">Engineer</option>
              <option value="General Labor">General Labor</option>
              <option value="Others">Others</option>
          <div class="invalid-feedback">
            Please enter the Job title.
          </div>
          </select>
        </div>
        <div class="row location jobtype companytype">
          <div class="row">

            <div class="col-md-4 mb-3">
              <p class="text" for="Location">Location</p>
              <input type="text" class="form-control" name="Location" id="Location" placeholder="" value="" required>
              <div class="invalid-feedback">
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <p class="text" for="JobType">Job Type</p>
              <input type="text" class="form-control" name="JobType" id="JobType" placeholder="" value="" required>
              <div class="invalid-feedback">
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <p class="text" for="CompanyType">Company Type</p>
              <input type="text" class="form-control" name="CompanyType" id="CompanyType" placeholder="" value="" required>
              <div class="invalid-feedback">
              </div>
            </div>
          </div>

        </div>
        <div class="row spec exp salary">
          <div class="row">
            <div class="col-md-4 mb-3">
              <p class="text" for="Specialization">Specialization</p>
              <input type="text" class="form-control" name="Specialization" id="Specialization" placeholder="" value="" required>
              <div class="invalid-feedback">
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <p class="text" for="Experience">Experience</p>
              <input type="text" class="form-control" name="Experience" id="Experience" placeholder="" value="" required>
              <div class="invalid-feedback">
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <p class="text" for="Salary">Salary</p>
              <input type="text" class="form-control" name="Salary" id="Salary" placeholder="" value="" required>
              <div class="invalid-feedback">
              </div>
            </div>
          </div>

        </div>
        <div class="row date">
          <div class="col">
            <p class="text" for="StartDate">Start of post date</p>
            <input type="date" class="form-control" name="StartDate" id="StartDate" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid end date is required.
            </div>
          </div>
          <div class="col">
            <p class="text" for="EndDate">End of post date</p>
            <input type="date" class="form-control" name="EndDate" id="EndDate" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid end date is required.
            </div>
          </div>
        </div>
        
        <div >
          
          <p class="text">Image</p>
          <div class="box center">
            <p class="text-center">Select or Drag and Drop here</p>
            <p class="text-center opacity"> <span style="color:gray">PNG, SVG file size no more than 10MB</span></p>
            <label class="center text-center" for="PostImage">Select file</label>
            <input type="file" id="PostImage" name="PostImage" accept="image/png, image/jpeg" class="lg-center">
            
          </div> <br>
        </div>
        <div>
          
        </div>
      </div>
      <div class="col">
          <div class="row">
          </div>
          <div class="jobbenefit">
            <p class="text" for="Description">Job Benefits/</p>
            <textarea type="text" class="form-control" name="Description" id="Description" rows="5" placeholder="" required></textarea>
            <div class="invalid-feedback">
              Please enter your Company Description.
            </div>
          </div>
          <div class="jobrequire">
            <p class="text" for="Goal">Job Requirement</p>
            <textarea type="text" class="form-control" name="Goal" id="Goal" rows="5" placeholder="" required></textarea>
            <div class="invalid-feedback">
              Please enter your Company Goal.
            </div>
          </div>
          <div class="hiringprocess">
            <p class="text" for="HiringProcess">Hiring Process</p>
            <textarea type="text" class="form-control" name="HiringProcess" id="HiringProcess" rows="5" placeholder="" required></textarea>
            <div class="invalid-feedback">
              Please enter your Company Adress.
            </div>
          </div>
          <div class="howtoapply">
            <p class="text" for="Howtoapply">How to apply</p>
            <textarea type="text" class="form-control" name="Howtoapply" id="Howtoapply" rows="5" placeholder="" required></textarea>
            <div class="invalid-feedback">
              Please enter your Company Email.
            </div>
          </div>
      </div>
    </div>
    <br> <br>
    <div class="form-group w-30 m-auto">
      <input type="submit" value="Post Job" class="btn btn-primary w-100"></input>
    </div>
  </form>
</body>
<script>
    document.getElementById('postform').addEventListener('submit', function(event) {
    var fileInput = document.getElementById('PostImage');
    
    // Kiểm tra xem có file nào được chọn hay không
    if (!fileInput.value) {
        alert('Vui lòng chọn một file trước khi submit!');
        event.preventDefault(); // Ngăn chặn form được submit nếu không có file
    }

});
</script>
