@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
$dark-teal: #2E3F49;
$light-turtoise: #2ED5A4;
$muted-teal: #97A4AA;
$white: #ffff;
$font-default: 'Outfit', sans-serif;
//FONT SIZE
$font-size-h1: 56px;
$font-size-h2: 48px;
$font-size-h3: 40px;
$font-size-h4: 32px;
$font-size-h5: 24px;
$font-size-h6: 20px;
$font-size-large: 20px;
$font-size-medium: 18px;
$font-size-regular: 16px;
$font-size-small: 14px;
$font-size-tiny: 12px;
//FONT WEIGHT
$font-weight-light: 300; 
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-link: 400; 

