@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
$dark-teal: #2E3F49;
$light-turtoise: #2ED5A4;
$muted-teal: #97A4AA;
$white: #ffff;
$font-default: 'Outfit', sans-serif;



