@import 'variables';
@import 'typography';
body{
    font-family: $font-default;
    background-color: white;
    color: $dark-teal;
    margin: 0; 
    padding: 0; 
    width: 965px;
    height: 988px;
    overflow-x: hidden;
}
.color-1{
  color: $light-turtoise;
}
.color-2{
  color: $dark-teal;
}
.btn{
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: fit-content;
    background-color: $light-turtoise;
    border-radius: 100px;
    margin: 10px 0; 
    border: none;
    color: $dark-teal;
    @include font-large-medium;
    padding:8px 12px; 
    .button-primary{
        @extend .btn
    }
    .button-secondary{
        @extend .btn;
        background-color: transparent;
        border: 1px solid $white;
        color: $white;
        padding: 8px 12px;
        
        &:hover {
            background-color: $white; 
            color: $dark-teal; 
        }
    }
}

.hr {
    border: none; 
    height: 2px; 
    background-color: $dark-teal; 
    margin: 12px;
  }
  .form-check-input {
    accent-color: $light-turtoise; 
  }
  