@import 'variables';
@import 'typography';
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $dark-teal;
  text-decoration: none;

}
body{
    font-family: $font-default;
}
.navbar-brand img{
  width: 80px;
  height: 80px;
}
.nav-item {
  align-items: center; 
  display: flex; 
}


.nav-item button {
    padding: 8px 15px; 
    @include font-large-medium;
    border: none;    
    border-radius: 100px; 
    background-color: transparent;
    color: $dark-teal;
  }
  
  .nav-item button:hover {
    background-color:$light-turtoise; 
  }
    
  .divider {
    border-right: 2px solid $dark-teal; 
    height: 30px; 
    margin: 0 10px; 
  }

  .notification-icon img {
    width: 24px; 
    height: auto; 
    margin-right: 12px;
  }
  
  
  .nav-item.dropdown img {
    width: 52px; 
    height: auto; 
    border-radius: 50%; 
    object-fit: cover;
    border: 3px solid $light-turtoise;
  }
  .navbar.navbar-brand{
    width: 50px;
    height: auto;
  }
  
.nav-item .nav-link {
    @include font-large-medium;
    color: $dark-teal;
    background-color: transparent;
    border-radius: 100px; 
    padding: 5px;
  }
  
  .nav-item.active .nav-link {
    background-color: $light-turtoise;
  }

  .nav-item .nav-link:hover {
    background-color: whitesmoke;
  }
  
  .nav-item {
    margin-right: 10px; 
  } 
  