@import 'variables';
@import 'typography';
*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
body{
    font-family: $font-default;
    background-color: white;
    color: $dark-teal;
}
.w-30 {
    width: 30%;
}
.top img{
    width: 104px;
    height: 104px;
}
.form-group button{
    width: 100%;
    padding: 20px;
    color: $dark-teal;

    background-color: $light-turtoise;
    border-radius: 100px;
    border: none;
    @include font-large-semi-bold;
}
.form-group button:hover{
    background-color: #fefefe;
    color: $dark-teal;

    border: 2px solid $dark-teal;
}
.top h1{
    @include font-h2-extra-bold;
}
.top p{
    @include font-h4-extra-bold;
}