<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/public/css/employer_details_admin.css">
    
</head>
<body>
    <div class="container">
        <div class="top d-flex justify-content-between">
            <span class="curent_page">Employers</span>
            <div class="search-container">
                <div class="input-wrapper">
                    <img src="/src/public/img/Search.svg" alt="Search" class="search-icon"> 
                    <input type="text" class="search-input" placeholder="Search">
                </div>
                <img src="/src/public/img/Avatar.png" alt="User" class="user-avatar"> 
            </div>
        </div>
        <div class="action d-flex my-2">
            <button class="back mr-auto">
                <img src="/src/public/img/Chevron Left.svg" alt="">
                Back
            </button>
        </div>
        <div class="d-flex mt-3">
            <div class="infor d-flex flex-column">
                <img src="/src/public/img/Avatar-largesize.jpg" alt="">
                <div class="mb-1">
                    <h6>Name:</h6>
                    <p class="ml-3">Mrs. Veronica Greenlan</p>
                </div>
                <div class="mb-1">
                    <h6>Date of Birth:</h6>
                    <p class="ml-3">20/10/1996</p>
                </div>
                <div class="mb-1">
                    <h6>Address:</h6>
                    <p class="ml-3">12 Monstadt, Floridan</p>
                </div>
                <div class="mb-1">
                    <h6>Email: </h6>
                    <p class="ml-3">123abc@gmail.com</p>
                </div>
                <div class="mb-1">
                    <h6>Phone Number: </h6>
                    <p class="ml-3">1234567xxx</p>
                </div>
                <div class="d-flex flex-column">
                    <h6>Biography: </h6>
                    <p>As a dynamic Software Engineer with over 5 years of experience, I am passionate about crafting efficient and scalable software solutions. My journey in the tech industry has equipped me with a comprehensive skill set and a unique perspective that drives innovation and results.</p>
                </div>
            </div>
            <div class="sub">
                <div class="quick-act d-flex flex-column">
                    <h5>Quick Action</h5>
                    <a class="d-flex" href="#">
                        <img src="/src/public/img/Enevelop.svg" alt="">
                        Send a message to Employer/Job Seeker
                        <img class="ml-auto" src="/src/public/img/Chevron Right.svg" alt="">
                    </a>
                    <a class="d-flex" href="#">
                        <img src="/src/public/img/Blog.svg" alt="">
                        Report Job Posting
                        <img class="ml-auto" src="/src/public/img/Chevron Right.svg" alt="">
                    </a>
                    <a class="d-flex" href="#">
                        <img src="/src/public/img/Grade.svg" alt="">
                        View Monthly Report
                        <img class="ml-auto" src="/src/public/img/Chevron Right.svg" alt="">
                    </a>
                </div>
                <div class="list">
                    <h5>Posted Jobs</h5>
                    <a class="d-flex">
                        <img src="/src/public/img/Logo/Company_Delaso.svg" alt="">
                        <div class="d-flex flex-column ml-3">
                            <h6>Specialist Digital Marketing/Content Marketing</h6>
                            <p>C么ng ty TNHH TuDo </p>
                        </div>
                    </a>
                    <a class="d-flex">
                        <img src="/src/public/img/Logo/Company_Delaso.svg" alt="">
                        <div class="d-flex flex-column ml-3">
                            <h6>Specialist Digital Marketing/Content Marketing</h6>
                            <p>C么ng ty TNHH TuDo </p>
                        </div>
                    </a>
                    <a class="d-flex">
                        <img src="/src/public/img/Logo/Company_Delaso.svg" alt="">
                        <div class="d-flex flex-column ml-3">
                            <h6>Specialist Digital Marketing/Content Marketing</h6>
                            <p>C么ng ty TNHH TuDo </p>
                        </div>
                    </a>
                    <a class="d-flex">
                        <img src="/src/public/img/Logo/Company_Delaso.svg" alt="">
                        <div class="d-flex flex-column ml-3">
                            <h6>Specialist Digital Marketing/Content Marketing</h6>
                            <p>C么ng ty TNHH TuDo </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</body>