<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/public/css/job_post_detail_admin.css">
    
</head>
<body>
    <div class="container">
        <div class="top d-flex justify-content-between">
            <span class="curent_page">Job Post</span>
            <div class="search-container">
                <div class="input-wrapper">
                    <img src="/src/public/img/Search.svg" alt="Search" class="search-icon"> 
                    <input type="text" class="search-input" placeholder="Search">
                </div>
                <img src="/src/public/img/Avatar.png" alt="User" class="user-avatar"> 
            </div>
        </div>
        <div class="action d-flex ">
            <button class="back mr-auto">
                <img src="/src/public/img/Chevron Left.svg" alt="">
                Back
            </button>
            <button class="approve">
                <img src="/src/public/img/Approved.svg" alt="">
                Approve
            </button>
            <button class="reject">
                <img src="/src/public/img/circle-xmark 1.svg" alt="">
                Reject
            </button>
        </div>
        <div class="job d-flex mt-3">
            <div class="company d-flex flex-column">
                <img src="/src/public/img/Logo/Company_Aeon.svg" alt="logo" 
                class="company-logo align-self-center">
                <div class="company-name align-self-center">
                    Aeon Viet Nam
                </div>
                <div class="company-details">
                    AEON hiện là một trong những tập đoàn thương mại bán lẻ lớn nhất trên thế giới với 179 liên doanh trong và ngoài nước Nhật Bản. Được thành lập từ năm 1758, với lịch sử trải dài trên 250 năm, Tập đoàn AEON là một trong những nhà bán lẻ lâu đời nhất tại Nhật Bản. Hơn 29 năm qua, Tập đoàn AEON đã thành lập và vận hành nhiều chi nhánh kinh doanh tại Nhật Bản và nhiều nước như Malaysia, Thái Lan, Hồng Kông, Trung Quốc, Việt Nam, Indonesia, Lào, Myanmar, Kazakhstan, Hàn Quốc, Philippines, Ấn Độ, Cam-pu-chia.
                </div>
                <div class="company-infor">
                    Information
                    <div class="email">
                        Email: 123@gmail.com
                    </div>
                    <div class="phone">
                        Phone Number: 1289756345
                    </div>
                </div>
            </div>
            <div class="detail_job">
                <div class="author d-flex align-items-end">
                    <img src="/src/public/img/Logo/Company_Aeon.svg" alt="logo"
                    class="author-ava mr-2">
                    <div class="d-flex flex-column">
                        <div class="name">
                            Thu Hang Nguyen
                        </div>
                        <div class="time d-flex align-items-center">
                            <img src="/src/public/img/Clock.svg" alt="time">
                            20/10/2023
                        </div>
                    </div>
                    
                </div>
                <div class="title">
                    [HN/Hue] AEON Vietnam Hiring for the Future Leaders Program (AEON Future Leaders) - AEON Hue 2024
                </div>
                <img src="/src/public/img/Logo/Poster.svg" alt="poster"
                class="poster d-block mx-auto">
                <div class="tag d-flex justify-content-center">             
                    <div class="row">
                        <div class="col-md-6 mb-3 d-flex align-items-center">
                            <img src="/src/public/img/Pin.svg" alt="location"
                            class="mr-2">
                            Location: Hue
                        </div>
                        <div class="col-md-6 mb-3 d-flex align-items-center">
                            <img src="/src/public/img/Clock.svg" alt="experiences"
                            class="mr-2">
                            Experiences: 1-2 years
                        </div>
                        <div class="col-md-6 mb-3 d-flex align-items-center">
                            <img src="/src/public/img/Work.svg" alt="jobs type"
                            class="mr-2">
                            </i> Jobs Type: Fulltime
                        </div>
                        <div class="col-md-6 mb-3 d-flex align-items-center">
                            <img src="/src/public/img/menu-burger 1.svg" alt="specialization"
                            class="mr-2">
                            Specialization: Sales
                        </div>
                        <div class="col-10 mb-3 d-flex align-items-center">
                            <img src="/src/public/img/Money.svg" alt="salary"
                            class="mr-2">
                            Salary Range: 12.000.000 - 17.000.000 VND
                        </div>
                        <div class="col-10 mb-3 d-flex align-items-center">
                            <img src="/src/public/img/Relume.svg" alt="campany type"
                            class="mr-2">
                            Company Type: International Company
                        </div>
                    </div>        
                </div>
                <div class="content d-flex flex-column">
                    <span class="title">AEON FUTURE LEADERS PROGRAM (AEON FUTURE LEADERS) - AEON HUE 2024</span>
                    <div class="context description">
                        Joining the AEON FUTURE LEADERS (AFL) program allows young individuals to explore career paths, cultivate and develop personal values, strengthen resilience, and harness potential to become AEON Vietnam's future successors. Participants will undergo training on specialized knowledge and management skills in retail, encompassing business development, sales and marketing, supply chain operations, and management across 8 departments: <br>
                        <ul>
                            <li>Food (Foodline)</li>
                            <li>Fashion (Softline)</li>
                            <li>Electronics &amp; Home Appliances (Hardline)</li>
                            <li>Customer Service</li>
                            <li>Cashier</li>
                            <li>Human Resources</li>
                            <li>Admin</li>
                        </ul>
                    </div>
                    <span class="sub-title">1. Benefits</span>
                    <div class="context benefit">
                        Lead a team of 10-15 members. <br>
                        Opportunities to work in different departments or locations after the program. <br>
                        Engage in extensive training and coaching sessions, mentored by experienced managers. <br>
                        Challenge yourself in a multicultural and professional environment. <br>
                    </div>
                    <span class="sub-title">2. Requirements</span>
                    <div class="context requirement">
                        Final year students or fresh graduates with less than 1-year experience, under 24 years old. <br>
                        Understanding and passion for service and retail industry. <br>
                        Desire to work in a professional and dynamic environment. <br>
                        Basic English proficiency in listening, speaking, reading, and writing.
                        Personal traits and qualities: <br>
                        <ul>
                            <li>Customer-oriented mindset</li>
                            <li>Result-oriented focus</li>
                            <li>Team spirit &amp; teamwork capability</li>
                            <li>Commitment to personal &amp; peer growth</li>
                            <li>Honesty, fairness, and integrity</li>
                        </ul>
                                        
                    </div>
                    <span class="sub-title">3. Hiring Process</span>
                    <div class="context hiring-process">
                        <strong>Round 1:</strong> From 1/10 to 31/10/2023: Submit applications via email. <br>
                        <strong>Round 2:</strong> From 20/11 to 23/11: Preliminary application screening and first round of online interviews. <br>
                        <strong>Round 3:</strong> From 10/12 to 13/12/2023: AEON Camp: shortlisted candidates are invited to Hanoi for a tour of AEON, group work skill tests, and presentations. Out-of-town candidates will have travel and accommodation expenses covered by AEON. <br>
                        <strong>Round 4:</strong> From 20/12 to 23/12/2023: Direct interviews in Hue and Da Nang. Successful candidates from the four rounds are expected to receive an invitation and commence official training and work from 26/2/2024.
                    </div>
                    <span class="sub-title">4. How to Apply</span>
                    <div class="context apply">
                        <ol>
                            <li>Complete the application via the link (or scan the QR code in the image): https://bit.ly/AFL2024</li>
                            <li>Record a short video introducing yourself, your strengths, and your reasons for applying (max 2 minutes, file size no more than 500MB), upload to Google Drive and paste the link into your CV.</li>
                            <li>Attach CV and send the application email to: tuyendung.hn@aeon.com.vn with the subject: [AFL Hue] Full Name. We will contact suitable candidates for the subsequent rounds.</li>
                            <li>For queries about the AFL program, please contact 024.6277.8333 – extension 719. APPLICATION DEADLINE: 31/10/2023</li>
                            <li>Note: I've tried to ensure the translation is clear and accurate while retaining the intent of the original text.</li>
                        </ol>
                    </div>
                    <button class="apply-btn d-flex">
                        Apply Now
                        <img src="/src/public/img/Chevron Right.svg" alt="arrow">
                    </button>  
                </div>
            </div>
        </div>
        
        
    </div>
</body>