<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/src/public/css/jobseeker_details.css">
</head>

<body>
      <div class="text-center mt-5">
      <div class="title">Hi, Tom Cruise</div>
      <p class="sub-title">Your Profile is Here!</p>
    </div>
    <br><br>
  <form id="profile" action="/jobseeker/your_profile" method="post" enctype="multipart/form-data" class="container">

    <div class="row">
      <div class="col-4">
        <div class="row">
          <div class="Avatar center">
            <img src="/src/public/img/Avatar-largesize.jpg" class="img" alt="">
            <p></p>
            <label class="center" for="jobseeker-avatar">Select a new avatar</label>
            <input type="file" id="jobseeker_avatar" name="jobseeker_avatar" accept="image/png, image/jpeg">
            <br>
          </div>
        </div>
      </div>
      <div class="col-8">
        <p class="text" for="firstName">First name</p>
        <input type="text" class="form-control" name="firstName" id="firstName" placeholder="" required>
        <div class="invalid-feedback">
          Please enter the Job title.
        </div>
        <p class="text" for="email">Email</p>
        <input type="text" class="form-control" name="email" id="email" placeholder="" required>
        <div class="invalid-feedback">
          Please enter the Job title.
        </div>
        <p class="text" for="address">Address</p>
        <input type="text" class="form-control" name="address" id="address" placeholder="" required>
        <div class="invalid-feedback">
          Please enter the Job title.
        </div>
        <p class="text" for="phoneNumner">Phone number</p>
        <input type="text" class="form-control" name="phone" id="phone" placeholder="" required>
        <div class="invalid-feedback">
          Please enter the Job title.
        </div>
        <p class="text" for="Birthday">Date of birth</p>
        <input type="date" class="form-control" name="birthDay" id="birthDay" placeholder="" required>
        <div class="invalid-feedback">
          Please enter the Job title.
        </div>
        <div class="Biography">
          <p class="text" for="biography"> Biography</p>
          <textarea type="text" class="form-control" name="biography" id="biography" rows="5" placeholder=""
            required></textarea>
          <div class="invalid-feedback">
            Please enter your Company Email.
          </div>
        </div>
      </div>
    </div>
    <br> <br>
    <div class="form-group w-30 m-auto">
      <input type="submit" value="Save Changes" class="btn btn-primary w-100"></input>
    </div>
  </form>
</body>