<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/public/css/footer.css">
</head>
<body>
    <footer class="bg-light text-center text-lg-start">
        <div class="container p-4">
            <div class="row">
                <div class="col">
                    <img src="/src/public/img/logoJL.png" alt="logo">
                    <p class="script">Join our newsletter to stay up to date on features and releases.</p>
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="email" placeholder="Enter your email" aria-label="Subscribe">
                        <button class="button" type="submit">Subscribe</button>
                    </form>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">About us</h5>
                    <ul class="list-unstyled mb-0 mr-auto">
                        <li><a href="#!" class="text-dark">Our Company</a></li>
                        <li><a href="#!" class="text-dark">Meet The Team</a></li>
                        <li><a href="#!" class="text-dark">Careers</a></li>
                        <li><a href="#!" class="text-dark">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Follow Us</h5>
                    <ul class="list-unstyled">
                        <li><a href="#!" class="text-dark">Facebook</a></li>
                        <li><a href="#!" class="text-dark">Youtube</a></li>
                        <li><a href="#!" class="text-dark">Twitter</a></li>
                        <li><a href="#!" class="text-dark">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="footer-sub text-left">© 2023 JobLane. All rights reserved.</div>
                </div>
                <div class="col text-right"></div>
                    <a class="mr-3 footer-sub" href="#!">Privacy Policy</a>
                    <a class="mr-3 footer-sub" href="#!">Terms of Service</a>
                    <a class="mr-3 footer-sub" href="#!">Cookies Settings</a>
                </div>
            </div>
        </div>
        
        
        <span id="colored-span"></span>
    </footer>
</body>