<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/public/css/failure.css">
    
</head>
<body> 
    <div class="modal">
        <div class="modal-content d-flex align-items-center">
            <img src="/src/public/img/Group 6.svg" alt="">
            <h1>Oooops!!</h1>
            <p>Oops! Job posting failed. Please retry.</p>
            
            <button>Done</button>
        </div>
    </div>
</body>