<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/public/css/categories.css">
    
</head>
<body>
    {{!-- <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
            Home Page
            </li>
        </ol>
    </nav> --}}
    <div class="title-section mt-5">
        <span class="color-2">Job</span>
        <span class="color-1 ml-2">Categories</span>
    </div>
    <div class="job-cate-list mb-5">
            <a href="/job/category/Accounting" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/src/public/img/Cate/Accounting.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Accounting
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="#" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/src/public/img/Cate/BA.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    BA
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="#" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/src/public/img/Cate/Broadcasting.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Broadcasting
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="#" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/src/public/img/Cate/Design.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Design
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="#" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/src/public/img/Cate/Doctor.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Doctor
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="#" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/src/public/img/Cate/Engineer.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Engineer
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="#" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/src/public/img/Cate/Finance.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Finance/Banking
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="#" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/src/public/img/Cate/Human resource.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Human Resource
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="#" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/src/public/img/Cate/IT.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    IT
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="#" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/src/public/img/Cate/Labor.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    General Labor
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="#" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/src/public/img/Cate/Lawyer.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Lawyer
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="#" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/src/public/img/Cate/Logistic.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Logistic
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="#" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/src/public/img/Cate/Marketing.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Marketing
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="#" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/src/public/img/Cate/Sale.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Sale
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="#" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/src/public/img/Cate/Teacher.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Teacher
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="#" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/src/public/img/Cate/Tourism.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Tourism
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="#" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/src/public/img/Cate/Translation.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Translation
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="#" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/src/public/img/Cate/Other.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Others
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
    </div>
</body>