<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/public/css/dashboard.css">
    
</head>
<body>
    <div class="background-div">
        <div class="container-fluid">
            <div class="title-bg d-flex justify-content-center row mb-5">Your Journey to the Right Job!</div>
            <div class="search-bar row mt-5">
                <div class="col search-container">
                    <div class="input-group">
                        <!-- Job Title Text Field -->
                        <input type="text" class="form-control search-input" placeholder="Job Title" aria-label="Job Title">
                        <div class="search-divider"></div>
                        <!-- Location Dropdown -->
                        <select class="custom-select search-select" id="locationDropdown">
                            <option selected>Location</option>
                            <!-- Location options -->
                        </select>
                        <div class="search-divider"></div>
                        <!-- Categories Dropdown -->
                        <select class="custom-select search-select" id="categoriesDropdown">
                            <option selected>Categories</option>
                            <!-- Category options -->
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary search-button ml-3 mr-2">
                        <img src="/src/public/img/Search.svg" alt="search" class="mr-2">
                        Search
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="title-section">
            <span class="color-2">Recent</span>
            <span class="color-1">Active</span>
            <span class="color-2">Listed Jobs</span>
        </div>
        <div class="recent-jobs-slider mb-5">
            <div class="recent-jobs-item">
                <div class="image">
                    <img src="/src/public/img/recent_job_1.svg" alt="RJ1">
                </div>
                <div class="d-flex justify-content-start recent-jobs-tag ml-auto">
                    
                        <div class="badge mr-3">
                            <span>Jobs</span>
                        </div>
                        <div class="location mr-3">
                            <img src="/src/public/img/Pin.svg" alt="location">
                            <span>Ho Chi Minh</span>
                        </div>
                        <div class="job-type">
                            <img src="/src/public/img/Clock.svg" alt="type">
                            <span>Full time</span>
                        </div>
                    
                </div> 
                <div class="recent-jobs-title">
                    <div class="title">Web/Application Figma Designer </div>
                    <div class="sub-title">Join our team as a Web/Application Designer and shape the future of digital reading experiences.</div>
                </div>
                <div class="form-group d-inline">
                    <button id="apply1" type="submit" class="btn btn-primary">
                        Apply Now
                        <img src="/src/public/img/Chevron Right.svg" alt="arrow">
                    </button>  
                </div>
            </div>
            <div class="recent-jobs-item">
                <div class="image">
                    <img src="/src/public/img/recent_job_2.svg" alt="RJ1">
                </div>
                <div class="d-flex justify-content-start recent-jobs-tag ml-auto">
                    
                        <div class="badge mr-3">
                            <span>Jobs</span>
                        </div>
                        <div class="location mr-3">
                            <img src="/src/public/img/Pin.svg" alt="location">
                            <span>Ho Chi Minh</span>
                        </div>
                        <div class="job-type">
                            <img src="/src/public/img/Clock.svg" alt="type">
                            <span>Full time</span>
                        </div>
                    
                </div> 
                <div class="recent-jobs-title">
                    <div class="title">Web/Application Figma Designer </div>
                    <div class="sub-title">Join our team as a Web/Application Designer and shape the future of digital reading experiences.</div>
                </div>
                <div class="form-group d-inline">
                    <button id="apply2" type="submit" class="btn btn-primary">
                        Apply Now
                        <img src="/src/public/img/Chevron Right.svg" alt="arrow">
                    </button>  
                </div>
            </div>
            <div class="recent-jobs-item">
                <div class="image">
                    <img src="/src/public/img/recent_job_3.svg" alt="RJ1">
                </div>
                <div class="d-flex justify-content-start recent-jobs-tag ml-auto">
                    
                        <div class="badge mr-3">
                            <span>Jobs</span>
                        </div>
                        <div class="location mr-3">
                            <img src="/src/public/img/Pin.svg" alt="location">
                            <span>Ho Chi Minh</span>
                        </div>
                        <div class="job-type">
                            <img src="/src/public/img/Clock.svg" alt="type">
                            <span>Full time</span>
                        </div>
                    
                </div> 
                <div class="recent-jobs-title">
                    <div class="title">Web/Application Figma Designer </div>
                    <div class="sub-title">Join our team as a Web/Application Designer and shape the future of digital reading experiences.</div>
                </div>
                <div class="form-group d-inline">
                    <button id="apply3" type="submit" class="btn btn-primary">
                        Apply Now
                        <img src="/src/public/img/Chevron Right.svg" alt="arrow">
                    </button>  
                </div>
            </div>
            <div class="recent-jobs-item">
                <div class="image">
                    <img src="/src/public/img/recent_job_1.svg" alt="RJ1">
                </div>
                <div class="d-flex justify-content-start recent-jobs-tag ml-auto">
                    
                        <div class="badge mr-3">
                            <span>Jobs</span>
                        </div>
                        <div class="location mr-3">
                            <img src="/src/public/img/Pin.svg" alt="location">
                            <span>Ho Chi Minh</span>
                        </div>
                        <div class="job-type">
                            <img src="/src/public/img/Clock.svg" alt="type">
                            <span>Full time</span>
                        </div>
                    
                </div> 
                <div class="recent-jobs-title">
                    <div class="title">Web/Application Figma Designer </div>
                    <div class="sub-title">Join our team as a Web/Application Designer and shape the future of digital reading experiences.</div>
                </div>
                <div class="form-group d-inline">
                    <button id="apply4" type="submit" class="btn btn-primary">
                        Apply Now
                        <img src="/src/public/img/Chevron Right.svg" alt="arrow">
                    </button>  
                </div>
            </div>
            <div class="recent-jobs-item">
                <div class="image">
                    <img src="/src/public/img/recent_job_2.svg" alt="RJ1">
                </div>
                <div class="d-flex justify-content-start recent-jobs-tag ml-auto">
                    
                        <div class="badge mr-3">
                            <span>Jobs</span>
                        </div>
                        <div class="location mr-3">
                            <img src="/src/public/img/Pin.svg" alt="location">
                            <span>Ho Chi Minh</span>
                        </div>
                        <div class="job-type">
                            <img src="/src/public/img/Clock.svg" alt="type">
                            <span>Full time</span>
                        </div>
                    
                </div> 
                <div class="recent-jobs-title">
                    <div class="title">Web/Application Figma Designer </div>
                    <div class="sub-title">Join our team as a Web/Application Designer and shape the future of digital reading experiences.</div>
                </div>
                <div class="form-group d-inline">
                    <button id="apply5" type="submit" class="btn btn-primary">
                        Apply Now
                        <img src="/src/public/img/Chevron Right.svg" alt="arrow">
                    </button>  
                </div>
            </div>
            <div class="recent-jobs-item">
                <div class="image">
                    <img src="/src/public/img/recent_job_3.svg" alt="RJ1">
                </div>
                <div class="d-flex justify-content-start recent-jobs-tag ml-auto">
                    
                        <div class="badge mr-3">
                            <span>Jobs</span>
                        </div>
                        <div class="location mr-3">
                            <img src="/src/public/img/Pin.svg" alt="location">
                            <span>Ho Chi Minh</span>
                        </div>
                        <div class="job-type">
                            <img src="/src/public/img/Clock.svg" alt="type">
                            <span>Full time</span>
                        </div>
                    
                </div> 
                <div class="recent-jobs-title">
                    <div class="title">Web/Application Figma Designer </div>
                    <div class="sub-title">Join our team as a Web/Application Designer and shape the future of digital reading experiences.</div>
                </div>
                <div class="form-group d-inline">
                    <button id="apply6" type="submit" class="btn btn-primary">
                        Apply Now
                        <img src="/src/public/img/Chevron Right.svg" alt="arrow">
                    </button>  
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="title-section d-flex">
            
                <span class="color-2">Job</span>
                <span class="color-1 ml-2">Categories</span>
            <a href="/job/categories" class="ml-auto btn btn-primary" role="button"> View all </a>
            {{!-- <button class="ml-auto btn btn-primary">
                View all
            </button> --}}
        </div>
        <div class="job-cate-slider mb-5">
            
            <a href="#" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/src/public/img/Cate/Accounting.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Accounting
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="#" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/src/public/img/Cate/BA.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    BA
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="#" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/src/public/img/Cate/Broadcasting.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Broadcasting
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="#" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/src/public/img/Cate/Design.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Design
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="#" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/src/public/img/Cate/Doctor.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Doctor
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="#" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/src/public/img/Cate/Engineer.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Engineer
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="#" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/src/public/img/Cate/Finance.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Finance/Banking
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="#" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/src/public/img/Cate/Human resource.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Human Resource
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="#" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/src/public/img/Cate/IT.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    IT
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="#" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/src/public/img/Cate/Labor.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    General Labor
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="#" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/src/public/img/Cate/Lawyer.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Lawyer
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="#" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/src/public/img/Cate/Logistic.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Logistic
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="#" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/src/public/img/Cate/Marketing.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Marketing
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="#" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/src/public/img/Cate/Sale.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Sale
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="#" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/src/public/img/Cate/Teacher.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Teacher
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="#" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/src/public/img/Cate/Tourism.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Tourism
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="#" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/src/public/img/Cate/Translation.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Translation
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            
            <div class="job-cate-item d-flex align-items-start flex-column">
                
                <div class="p-2 job-name">
                    7.000+
                </div>
                <div class="p-2 detail">
                    <span>Jobs are waiting for you</span>
                </div>
                <div class="form-group p-2 d-inline">
                    <button type="submit" class="btn btn-primary">
                        Apply Now
                        <img src="/src/public/img/Chevron Right.svg" alt="arrow">
                    </button>  
                </div>

            </div>

        </div>
    </div>
    <div class="section">
        <div class="title-section center-text" style="">
            <span class="color-2">How it</span>
            <span class="color-1">works</span>
        </div>
        <div class="d-flex justify-content-between">
            <div class="work-item">
                <div class="icon">
                    <img src="/src/public/img/Work/image 32.png" alt="">
                </div>
                <div class="title">
                    Create an Account
                </div>
                <div class="sub-title align-middle">
                    "Your Gateway to Opportunities"<br>Begin your journey by registering an account to unlock a personalized job search experience.
                </div>
                
            </div>
            <div class="work-item">
                <div class="icon">
                    <img src="/src/public/img/Work/image 31.png" alt="">
                </div>
                <div class="title">
                    Seek for Jobs
                </div>
                <div class="sub-title align-middle">
                    "Explore Your Potential"<br>Navigate through a diverse array of job listings to find positions that resonate with your skills and ambitions.
                </div>
                
            </div>
            <div class="work-item">
                <div class="icon">
                    <img src="/src/public/img/Work/image 33.png" alt="">
                </div>
                <div class="title">
                    Upload CV/Resume
                </div>
                <div class="sub-title align-middle">
                    "Showcase Your Expertise"<br>Easily upload your resume and let your professional story be heard by potential employers.
                </div>
                
            </div>
            <div class="work-item">
                <div class="icon">
                    <img src="/src/public/img/Work/image 34.png" alt="">
                </div>
                <div class="title">
                    Get Hired
                </div>
                <div class="sub-title align-middle">
                    "Embark on Your Career Path"<br>Connect with employers, receive job offers, and start the next chapter of your professional life.
                </div>
                
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container bg-sec">
            <div class="row align-items-center">
                <div class="col title">
                Discover Your Dream Job with JobLane
            </div>
            <div class="col sub-title d-flex flex-column">
                <div class="text">
                    JobLane is the ultimate platform for job seekers to connect and succeed together.
                </div>
                <div class="container action">
                    <div class="row align-items-center">
                        <div class="btn button-secondary mr-5">
                            Sign up
                        </div>
                        <a href="#" style="color: white;">
                            Explore
                            <img src="/src/public/img/Chevron Right.svg" alt="link">
                        </a>
                        
                    </div>
                    
                </div>
                
            </div>
            </div>
            
        </div>
    </div>
    <div class="section">
        <div class="title-section center-text" style="">
            <span class="color-1">Review</span>
            <span class="color-2">of The Users</span>
        </div>
        <div class="customer-slider">
            <div class="customer-item">
            <div class="rating">
                <span class="star">★</span>
                <span class="star">★</span>
                <span class="star">★</span>
                <span class="star">★</span>
                <span class="star">☆</span> 
            </div>
        <blockquote class="customer-cmt">
            "A customer testimonial that highlights features and answers potential customer doubts about your product or service. Showcase testimonials from a similar demographic to your customers."
        </blockquote>
        <div class="d-flex align-items-center">
            <img src="/src/public/img/Ava/Avatar Image-1.svg" alt="Customer Photo" class="customer-photo mr-3">
            <div class="customer-info d-flex flex-column">
                <div class="customer-name">Jenifer</div>
                <div class="customer-details">Position, Company name</div>
            </div>
            
        </div>
            </div>
            <div class="customer-item">
            <div class="rating">
                <span class="star">★</span>
                <span class="star">★</span>
                <span class="star">★</span>
                <span class="star">★</span>
                <span class="star">☆</span> 
            </div>
        <blockquote class="customer-cmt">
            "A customer testimonial that highlights features and answers potential customer doubts about your product or service. Showcase testimonials from a similar demographic to your customers."
        </blockquote>
        <div class="d-flex align-items-center">
            <img src="/src/public/img/Ava/Avatar Image-1.svg" alt="Customer Photo" class="customer-photo mr-3">
            <div class="customer-info d-flex flex-column">
                <div class="customer-name">Jenifer</div>
                <div class="customer-details">Position, Company name</div>
            </div>
            
        </div>
            </div>
            <div class="customer-item">
                <div class="rating">
                    <span class="star">★</span>
                    <span class="star">★</span>
                    <span class="star">★</span>
                    <span class="star">★</span>
                    <span class="star">☆</span> 
                </div>
            <blockquote class="customer-cmt">
                "A customer testimonial that highlights features and answers potential customer doubts about your product or service. Showcase testimonials from a similar demographic to your customers."
            </blockquote>
            <div class="d-flex align-items-center">
                <img src="/src/public/img/Ava/Avatar Image-1.svg" alt="Customer Photo" class="customer-photo mr-3">
                <div class="customer-info d-flex flex-column">
                    <div class="customer-name">Jenifer</div>
                    <div class="customer-details">Position, Company name</div>
                </div>
                
            </div>
            </div>
            <div class="customer-item">
                <div class="rating">
                    <span class="star">★</span>
                    <span class="star">★</span>
                    <span class="star">★</span>
                    <span class="star">★</span>
                    <span class="star">☆</span> 
                </div>
            <blockquote class="customer-cmt">
                "A customer testimonial that highlights features and answers potential customer doubts about your product or service. Showcase testimonials from a similar demographic to your customers."
            </blockquote>
            <div class="d-flex align-items-center">
                <img src="/src/public/img/Ava/Avatar Image-1.svg" alt="Customer Photo" class="customer-photo mr-3">
                <div class="customer-info d-flex flex-column">
                    <div class="customer-name">Jenifer</div>
                    <div class="customer-details">Position, Company name</div>
                </div>
                
            </div>
            </div>
        </div>
        
        

    </div>
    <div class="section">
        <div class="small-title">
            Get hired by the Top Company
        </div>
        <div class="d-flex justify-content-around">
            <div class="company-item">
                <img src="/src/public/img/Logo/Vector-1.svg" alt="">
                <span class="ml-1">Webflow</span>
            </div>
            <div class="company-item">
                <img src="/src/public/img/Logo/Vector.svg" alt="">
                <span class="ml-1">Figma</span>
            </div>
            <div class="company-item">
                <img src="/src/public/img/Logo/Vector-1.svg" alt="">
                <span class="ml-1">Webflow</span>
            </div>
            <div class="company-item">
                <img src="/src/public/img/Logo/Vector.svg" alt="">
                <span class="ml-1">Figma</span>
            </div>
                <div class="company-item">
                <img src="/src/public/img/Logo/Vector-1.svg" alt="">
                <span class="ml-1">Webflow</span>
            </div>
            <div class="company-item">
                <img src="/src/public/img/Logo/Vector.svg" alt="">
                <span class="ml-1">Figma</span>
            </div>
        </div>
    </div>
</body>
<script>
    document.getElementById('apply1').addEventListener('click', function() {
       // Chuyển hướng người dùng đến trang bạn muốn
        window.location.href = '/jobseeker/apply_cv';
        });
    document.getElementById('apply2').addEventListener('click', function() {
        //Chuyển hướng người dùng đến trang bạn muốn
        window.location.href = '/jobseeker/apply_cv';
        });
    document.getElementById('apply3').addEventListener('click', function() {
        //Chuyển hướng người dùng đến trang bạn muốn
        window.location.href = '/jobseeker/apply_cv';
        });
    document.getElementById('apply4').addEventListener('click', function() {
        //Chuyển hướng người dùng đến trang bạn muốn
        window.location.href = '/jobseeker/apply_cv';
        });
    document.getElementById('apply5').addEventListener('click', function() {
        //Chuyển hướng người dùng đến trang bạn muốn
        window.location.href = '/jobseeker/apply_cv';
        });
    document.getElementById('apply6').addEventListener('click', function() {
        //Chuyển hướng người dùng đến trang bạn muốn
        window.location.href = '/jobseeker/apply_cv';
        });
</script>
