<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/public/css/signup_1.css">
</head>
<body>
    <div class="top text-center mx-5">
        <img src="/src/public/img/Logo/logo-01 1 (1).svg" class="custom-logo" alt="logo">
        <h1>Sign Up</h1>
        <p>Select your Account Type! </p>
    </div>
    
    <form id="roleForm" action="/set-role" method="POST">
        <ul class="w-50 mx-auto">
        <input type="hidden" name="role" id="roleInput">
        <li class="form-group mb-3">
            <button type="submit" onclick="setRole('jobseeker')" class="btn btn-primary w-100">Are you a Job Seeker? Let’s find your job!</button>
        </li>
        <li class="form-group">
            <button type="submit" onclick="setRole('employer')" class="btn btn-primary w-100">Are you an Employer? Let’s find your employee!</button>
        </li>

    </ul></form>
        
</body>
<script>
function setRole(role) {
  document.getElementById('roleInput').value = role;
  document.getElementById('roleForm').submit();
}
</script>