<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/public/css/signup_1.css">
</head>
<body>
    <div class="text-center mt-5">
        <img src="/src/public/img/logoJL.png" class="custom-logo" alt="logo">
        <p class="login-title">Log in</p>
        <p class="lead">Select your Account Type?</p>
    </div>
    
    <ul style="list-style-type: none;" class="">
        <li class="form-group w-50 m-auto">
            <button type="submit" class="btn btn-primary w-100">Are you a Job Seeker? Let’s find your job!</button>
        </li>
        <li class="form-group w-50 m-auto">
            <button type="submit" class="btn btn-primary w-100">Are you an Employer? Let’s find your employee!</button>
        </li>

    </ul>
        
</body>