<h1>Đăng Nhập Admin</h1>
<form id="login" action="/admin" method="post">
            <div class="form-group">
                <label for="Email">Tên Đăng Nhập:</label>
                <input type="text" id="Email" name="Email" required>
            </div>
            <div class="form-group">
                <label for="Password">Mật Khẩu:</label>
                <input type="password" id="Password" name="Password" required>
            </div>
            <button type="submit">Đăng Nhập</button>
        </form>
